.fixture-details {
  h3 {
    color: #777;
    margin: 0px 0px 5px 0px;
    &.winner {
      color: #3c763d;
    }
  }
  p {
    margin-bottom: 3px;
  }
}

.bets-container {
  .bet {
    margin-top: 5px;
  }
}

.bet-form {

}
